# Copyright 2015 HP Software
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description= Gaia Service Health tests
Documentation=https://github.com/gaia-adm/gaia-service-health-tests

[Service]
# Let processes take awhile to start up (for first run Docker containers)
# Large start timeout is to allow for pulling down Docker images from Registry
TimeoutStopSec=15

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/bin/docker stop svchealth
ExecStartPre=-/usr/bin/docker rm svchealth # It's important to remove the container so tugbot won't have two versions of the same container to run

# We use default gaia.es.url presented in gaia.properties file inside the test container
ExecStart=/usr/bin/docker run --name svchealth gaiaadm/gaia-service-health-tests

# Stop
ExecStop=/usr/bin/docker stop svchealth

[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineMetadata=general=true